[submodule "security-sys-submit"]
	path = security-sys-submit
	url = https://github.com/jacksonska/security-sys-submit.git
[submodule "libSUDOKU"]
	path = libSUDOKU
	url = https://github.com/jacksonska/libSUDOKU.git
[submodule "microsoftp_clone"]
	path = microsoftp_clone
	url = https://github.com/jacksonska/microsoftp_clone
